In [1]:
import graphlab

# Load the CIFAR-10 dataset

In [2]:
image_train = graphlab.SFrame('image_train_data/image_train_data/')

This non-commercial license of GraphLab Create for academic use is assigned to edward30@163.com and will expire on September 27, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Edward\AppData\Local\Temp\graphlab_server_1476084344.log.0

In [3]:
image_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

# Train a nearest-neighbors model for retrieving images using deep features

In [4]:
knn_mode = graphlab.nearest_neighbors.create(image_train, features=['deep_features'],
                                            label = 'id')

Starting brute force nearest neighbors model training.

# Use image retrieval model with deep features to find similar images

In [5]:
cat = image_train[18:19]
cat['image'].show()

Canvas is accessible via web browser at the URL: http://localhost:54777/index.html
Opening Canvas in default web browser.

In [6]:
knn_mode.query(cat)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 14.001ms     |

| Done         |         | 100         | 329.019ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |       384       |      0.0      |  1   |
|      0      |       6910      | 36.9403137951 |  2   |
|      0      |      39777      | 38.4634888975 |  3   |
|      0      |      36870      | 39.7559623119 |  4   |
|      0      |      41734      | 39.7866014148 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [7]:
def get_images_from_ids(query_result):
    return image_train.filter_by(query_result['reference_label'], 'id')

In [8]:
cat_neighbours = get_images_from_ids(knn_mode.query(cat))

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 19.001ms     |

| Done         |         | 100         | 354.02ms     |

+--------------+---------+-------------+--------------+

In [9]:
cat_neighbours.show()

Canvas is accessible via web browser at the URL: http://localhost:54777/index.html
Opening Canvas in default web browser.

In [10]:
car = image_train[8:9]

In [11]:
car['image'].show()

Canvas is accessible via web browser at the URL: http://localhost:54777/index.html
Opening Canvas in default web browser.

In [13]:
get_images_from_ids(knn_mode.query(car))['image'].show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 17.001ms     |

| Done         |         | 100         | 348.02ms     |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

# Just for fun, let's create a lambda to find and show nearest neighbor images

In [14]:
show_neighbors = lambda i:get_images_from_ids(knn_mode.query(image_train[i:i+1]))['image'].show()

In [15]:
show_neighbors(8)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 23.002ms     |

| Done         |         | 100         | 393.023ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

In [16]:
show_neighbors(9)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 16.001ms     |

| Done         |         | 100         | 379.022ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

# Test

In [18]:
image_train['label'].sketch_summary()

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [20]:
knn_mode.query(image_train[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 21.001ms     |

| Done         |         | 100         | 369.021ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |        24       |      0.0      |  1   |
|      0      |      30224      | 36.5454765642 |  2   |
|      0      |      34071      | 37.8011450878 |  3   |
|      0      |      37742      | 41.0399299616 |  4   |
|      0      |      36130      | 41.5105447214 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [22]:
get_images_from_ids(knn_mode.query(image_train[0:1]))

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 14ms         |

| Done         |         | 100         | 341.019ms    |

+--------------+---------+-------------+--------------+

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 5

Data:
+-------+----------------------+-------+-------------------------------+
|   id  |        image         | label |         deep_features         |
+-------+----------------------+-------+-------------------------------+
|   24  | Height: 32 Width: 32 |  bird | [0.242871761322, 1.0954537... |
| 30224 | Height: 32 Width: 32 |  bird | [0.396358847618, 0.0, 0.0,... |
| 34071 | Height: 32 Width: 32 |  bird | [0.345872342587, 0.0, 0.0,... |
| 36130 | Height: 32 Width: 32 |  bird | [0.44373446703, 0.19809538... |
| 37742 | Height: 32 Width: 32 |  bird | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
+-------+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [85.0, 129.0, 88.0, 92.0, ... |
| [40.0, 41.0, 17.0, 43.0, 4... |
| [147.0, 201.0, 132.0, 154.... |
| [43.0, 66.0, 51.0, 53.0, 8... |
+-------------------------------+
[5 rows x 5 columns]

In [49]:
image_dog = image_train[image_train['label']=='dog']
image_cat = image_train[image_train['label']=='cat']
image_bird = image_train[image_train['label']=='bird']
image_automobile = image_train[image_train['label']=='automobile']

In [50]:
dog_model = graphlab.nearest_neighbors.create(image_dog, label='id', features=['deep_features'])
cat_model = graphlab.nearest_neighbors.create(image_cat, label='id', features=['deep_features'])
bird_model = graphlab.nearest_neighbors.create(image_bird, label='id', features=['deep_features'])
automobile_model = graphlab.nearest_neighbors.create(image_automobile, label='id', features=['deep_features'])

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

In [37]:
image_test = graphlab.SFrame('image_test_data/image_test_data/')
image_test[0:1].show()

Canvas is updated and available in a tab in the default browser.

In [38]:
cat_model.query(image_test[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11.001ms     |

| Done         |         | 100         | 82.005ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [40]:
dog_model.query(image_test[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 10.001ms     |

| Done         |         | 100         | 125.007ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16976      | 37.4642628784 |  1   |
|      0      |      13387      | 37.5666832169 |  2   |
|      0      |      35867      | 37.6047267079 |  3   |
|      0      |      44603      | 37.7065585153 |  4   |
|      0      |       6094      | 38.5113254907 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [39]:
get_images_from_ids(dog_model.query(image_test[0:1]))['image'].show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 13.001ms     |

| Done         |         | 100         | 114.007ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

In [43]:
image_dog[image_dog['id']==16976]

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 1

Data:
+-------+----------------------+-------+-------------------------------+
|   id  |        image         | label |         deep_features         |
+-------+----------------------+-------+-------------------------------+
| 16976 | Height: 32 Width: 32 |  dog  | [0.755595386028, 0.0, 0.0,... |
+-------+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [16.0, 17.0, 11.0, 18.0, 1... |
+-------------------------------+
[1 rows x 5 columns]

In [45]:
image_dog[image_dog['id']==16976]['image'].show()

Canvas is updated and available in a tab in the default browser.

In [46]:
get_images_from_ids(cat_model.query(image_test[0:1]))['image'].show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11ms         |

| Done         |         | 100         | 145.008ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

# Test Computing nearest neighbors accuracy using SFrame operations

In [51]:
image_test_cat = image_test[image_test['label']=='cat']
image_test_dog = image_test[image_test['label']=='dog']
image_test_bird = image_test[image_test['label']=='bird']
image_test_automobile = image_test[image_test['label']=='automobile']

In [52]:
dog_cat_neighbors = cat_model.query(image_test_dog, k=1)
dog_dog_neighbors = dog_model.query(image_test_dog, k=1)
dog_bird_neighbors = bird_model.query(image_test_dog, k=1)
dog_automobile_neighbors = automobile_model.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 637.037ms    |

| Done         | 509000  | 100         | 980.056ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 644.037ms    |

| Done         | 509000  | 100         | 847.048ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 120000  | 25.1046     | 573.033ms    |

| Done         | 478000  | 100         | 809.046ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 634.036ms    |

| Done         | 509000  | 100         | 900.051ms    |

+--------------+---------+-------------+--------------+

In [54]:
dog_cat_neighbors.head()

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 10

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |        33       | 36.4196077068 |  1   |
|      1      |      30606      | 38.8353268874 |  1   |
|      2      |       5545      | 36.9763410854 |  1   |
|      3      |      19631      | 34.5750072914 |  1   |
|      4      |       7493      |  34.778824791 |  1   |
|      5      |      47044      | 35.1171578292 |  1   |
|      6      |      13918      | 40.6095830913 |  1   |
|      7      |      10981      | 39.9036867306 |  1   |
|      8      |      45456      | 38.0674700168 |  1   |
|      9      |      44673      | 42.7258732951 |  1   |
+-------------+-----------------+---------------+------+
[10 rows x 4 columns]

In [62]:
dog_distances = graphlab.SFrame({'dog-cat': dog_cat_neighbors['distance'],
                              'dog-dog': dog_dog_neighbors['distance'],
                              'dog-bird': dog_bird_neighbors['distance'],
                              'dog-automobile': dog_automobile_neighbors['distance']
                             })

In [63]:
dog_distances.head()

Columns:
	dog-automobile	float
	dog-bird	float
	dog-cat	float
	dog-dog	float

Rows: 10

Data:
+----------------+---------------+---------------+---------------+
| dog-automobile |    dog-bird   |    dog-cat    |    dog-dog    |
+----------------+---------------+---------------+---------------+
| 41.9579761457  | 41.7538647304 | 36.4196077068 | 33.4773590373 |
| 46.0021331807  | 41.3382958925 | 38.8353268874 | 32.8458495684 |
| 42.9462290692  | 38.6157590853 | 36.9763410854 | 35.0397073189 |
| 41.6866060048  | 37.0892269954 | 34.5750072914 | 33.9010327697 |
| 39.2269664935  |  38.272288694 |  34.778824791 | 37.4849250909 |
| 40.5845117698  | 39.1462089236 | 35.1171578292 |  34.945165344 |
| 45.1067352961  |  40.523040106 | 40.6095830913 | 39.0957278345 |
| 41.3221140974  | 38.1947918393 | 39.9036867306 | 37.7696131032 |
| 41.8244654995  | 40.1567131661 | 38.0674700168 | 35.1089144603 |
| 45.4976929401  | 45.5597962603 | 42.7258732951 | 43.2422832585 |
+----------------+---------------+---------------+---------------+
[10 rows x 4 columns]

In [64]:
dog_distances['dog-cat']

dtype: float
Rows: 1000
[36.41960770675437, 38.83532688735544, 36.97634108541545, 34.575007291446106, 34.778824791016596, 35.11715782924591, 40.60958309132649, 39.90368673062214, 38.06747001682118, 42.725873295060325, 40.07334854106313, 31.6633518591745, 37.71246671323846, 39.09035764803644, 49.57967416577316, 36.077387742837814, 36.50902452301206, 44.95243961942733, 33.4368280817404, 34.32455551725352, 34.71470962990657, 33.23747741685298, 34.425383319771534, 34.51304231593018, 37.984239884361635, 41.93783581252019, 39.47553315875406, 37.61347349608415, 36.46096099330766, 32.54458323133461, 36.831355406189786, 37.8590258146085, 41.781173252799235, 35.53207404381254, 33.12115384662451, 34.95202883174986, 33.21653861184684, 30.27480523958585, 35.2565724242629, 36.64845825198308, 33.676383475677746, 32.426395075244436, 39.64035075870523, 44.351332458546096, 38.26287205696334, 37.194245743826976, 38.41620975302145, 33.474756973026714, 35.284795792594785, 43.05319736547563, 31.586898628452126, 32.394078922689665, 31.601761211461803, 38.46815882216829, 38.824795041738476, 42.31387764601885, 43.270452817497855, 40.39705276746098, 36.35733833094062, 32.83929590898788, 36.978765507850035, 35.84172787332846, 28.26113584045508, 34.53430112715443, 40.14373078685561, 36.76833879102364, 32.7612814592462, 33.92854885029148, 37.37262427800839, 37.54795570624816, 34.842908179723075, 40.136791197858926, 31.09810819005045, 40.11624237084988, 38.96668953867347, 36.85769510482289, 35.35036674747504, 39.80195730163124, 36.439162463462715, 41.89454738758274, 31.62823882145115, 39.467985682931364, 42.26483373489599, 35.71730009618424, 43.02736539608004, 35.152723006065465, 35.95833095631713, 48.21944460945715, 34.129197089379105, 36.08047540896331, 40.8540401857366, 30.984616222360927, 41.05439417106038, 36.691623497122876, 47.45621741097345, 37.044717721863776, 34.108825257553335, 41.44768570813721, 33.77204053538457, 29.38536044302192, ... ]

In [66]:
def is_dog_correct(row):
    if row['dog-dog'] > row['dog-cat'] or row['dog-dog'] > row['dog-bird'] or row['dog-dog'] > row['dog-automobile']:
        return 1
    else:
        return 0

In [69]:
is_dog_correct(dog_distances[1])

0

In [68]:
dog_distances[0]

{'dog-automobile': 41.957976145712024,
 'dog-bird': 41.753864730351246,
 'dog-cat': 36.41960770675437,
 'dog-dog': 33.47735903726335}

In [70]:
dog_distances.apply(is_dog_correct).sum()

322L

In [71]:
len(dog_distances)

1000